<nav>
  <div class="site-title">
    <a href="/"><h1>Boba</h1></a>
    <p>a boba information website</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/categories">About</a></li>
  </ul>
</nav>
