<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="blogs content">
      <h2>form/ new</h2>
      <a href="/">home</a>
      <a href="/new">new post</a>

      <form method="POST" action="/new">
        <label for="author">Author</label>
        <input
          name="author"
          id="author"
          type="text"
          placeholder="author name"
          required
        />
        <label for="message">MEssage text</label>
        <input
          name="message"
          id="message"
          type="text"
          placeholder="message text"
          required
        />
        <button type="submit" value="submit">submit</button>
      </form>
    </div>
  </body>
</html>
