<div class="">
  <h2>home</h2>
  <div>
    <% if (bobas.length > 0) { %> <% bobas.forEach(boba => { %>
    <h3><%= boba.name%></h3>
    <div><%= boba.description%></div>
    <% }) %> <% } else { %>
    <p>no more boba...</p>
    <% } %>
  </div>
</div>
