@import './categories.css';
@import './bobaIndivid.css';
@import './new.css';
@import 'shared/buttons.css';
@import 'shared/fileInput.css';
@import 'shared/bobaGrid.css';
@import './homeIndex.css';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Source+Sans+Pro:wght@200;300&display=swap');


body {
  box-sizing: border-box;
  padding: 10px;
  height: 98vh;
  display: grid;
  grid-template-rows: auto 1fr 100px;
}



h2 {
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Sacramento','Georgia', cursive;

}
h3, h4, h3 a {
  all: unset;
  font-weight: normal;
  font-family: 'Sacramento','Georgia', cursive;
  text-align: center;
  text-transform: capitalize;
}

span {
  font-family: 'Sacramento','Georgia', cursive;
  font-size: 1.4rem;
}

.nav {
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 55px;
  padding: 0 30px;
}

  .nav__titleContainer {
    margin: none;
    width: auto;
    height: auto;
  }
    .nav__titleContainer a {
      all: unset;
      cursor: pointer; 
      font-size: 2.5rem;
    }
      .nav__titleContainer a:hover {
        color: rgb(89, 132, 107);
        display: inline-block;
        transform: scale(1.05);
      }
      .nav__titleContainer a h1{
        
        font-family: 'Sacramento','Georgia', cursive;
        font-weight: normal;
        text-decoration: underline;

      }
      

  .nav__navContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: flex-end;
  }

    
      .nav__navContainer a{
        all: unset;
        cursor: pointer;
        font-size: 2.1rem;
        list-style-type: none;
        text-align: center;
        font-family: 'Sacramento','Georgia', cursive;
        text-decoration: underline;
      }
      .nav__navContainer a:hover{
        color: rgb(89, 132, 107);
        display: inline-block;
        transform: scale(1.1);
      }

@media screen and (max-width: 920px) {
  .nav__titleContainer a {
    font-size: 1.4rem;
  }
  .nav__navContainer a{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 468px) {
  .nav {
    margin-bottom: 0;
  }
  .nav__titleContainer {
  }
  .nav__titleContainer a {
    font-size: 1.25rem;
  }
  .nav__navContainer {
  }
  .nav__navContainer a{
    font-size: 1.1rem;
    margin: 5px;
  }
}