<h1>are you sure you want to delete <%=boba.name %>?</h1>

<form method="POST" action="/bobas/<%=boba.id%>?_method=DELETE">
  <button type="submit">
    Yes, I want to delete <%=boba.name%> from the boba database
  </button>
</form>
