<h1>add new boba page</h1>
<form action="/bobas" method="POST" enctype="multipart/form-data">
  <div>
    <label>Name of Boba:</label>
    <input
      type="text"
      name="name"
      required
      oninvalid="this.setCustomValidity('Name of Boba field cannot be empty')"
    />
  </div>
  <select name="temperature" required>
    <% categories.forEach(category => { %>
    <option
      selected
      label="<%= category.temperature %>"
      value="<%= category.id%>"
    ></option>
    <% }) %>
  </select>
  <div>
    <label>Description:</label>

    <textarea
      name="description"
      required
      oninvalid="this.setCustomValidity('Description of the Boba cannot be empty')"
    ></textarea>
  </div>

  <div>
    <label>Boba</label>
    <input type="file" name="file" />
  </div>

  <a href="/bobas">Cancel</a>
  <button type="submit">Create</button>
</form>
