<body class="categories">
  <h2>Categories</h2>

  <div class="categories__container">
    <% temperatures.forEach(temp => {%>
    <div>
      <a class="<% temp.temperature %>" href="/categories/<%=temp.id%>"
        ><%= temp.temperature %></a
      >
    </div>

    <% }) %>
  </div>
</body>
