.bobaIndividualContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .bobaIndividualContainer img {
        height: 200px;
        width: auto;
        margin-bottom: 20px;
    }

    .bobaIndividualContainer div, .bobaIndividualContainer p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
    }

    .bobaIndividualContainer p {
        max-width: 450px;
    }

    .bobaIndividualContainer__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bobaIndividualContainer__buttons a {
        text-decoration: none;       
        border-radius: 8px;
        padding: 3px 20px;
        margin: 20px;
        box-shadow: 1px 1px 1px .25px rgb(218, 218, 218);
        font-family: 'Sacramento','Georgia', cursive;
    }

    #editBtn {
        background-color:  rgb(89, 132, 107);
        color: white;
    }
    #deleteBtn {
        background-color: rgb(255, 64, 64);
        color: white;
    }